<%- include('partials/header') -%>
<main>
  <div class="container">
      <ul class="row list-unstyled">
        <% for(let i = 0; i < review[0].sections.length; i++){ %>
          <% if(i <= user.stage){ %>
          <a class="goToSection" href="/hangeul/<%= i %>">Section <%= i+1 %>: <%= review[0].sections[i] %></a>
          <% }else{ %>
            <a class="inactiveLink" href="/hangeul/<%= i %>">Section <%= i+1 %>: <%= review[0].sections[i] %></a>
          <% } %>
        <% } %>
      </ul>
  </div>  
</main>
</body>
</html>