<%- include('partials/header') -%>
<main>
  <div class="overlay">
    <h2 id="correct" value=""></h2>
    <% for (let i = 0; i < 10; i++){ %>
    <div>
      <li class="col-6 justify-content-between mt-5">
        <span id=question<%= i %>></span>   
        <span id=check<%= i %>></span>
        <span id=correct<%= i %>></span>
      </li>
    </div>
    <% } %>
    <form action="/hangeul/result" enctype="multipart/form-data" method="POST">
              <div class="hide">
                  <label for="test">Test</label>
                  <textarea class="form-control" id="test" name="test"></textarea>
              </div>
              <div class="hide">
                  <label for="score">Score</label>
                  <textarea class="form-control correct" id="score" name="score"></textarea>
              </div>
              <button type="submit" class="btn btn-primary hide" id="pass" value="Upload">Submit</button>
      </form>
    <a id="fail" class="hangeulTest hide" href="/hangeul/test/<%= hangeul[0].section %>">Retake test</a>
  </div>
  <div class="container">
      <ul class="row list-unstyled">
        <div class="hangeulDiv">
          <a onclick="left()" class="left"><</a>
          <div class="hangeul">
        <% const hangeulKeys = Object.keys((hangeul[0].test)) %>
        <% const questions = [] %>
        <% for(let i=0; i<10; i++) {%>
          <% if(i === 0){ %>
            <div id=questionField<%= i %> class="hangeul">
          <% } else { %>
          <div id=questionField<%= i %> class="hide hangeul">
          <% } %>
            <li id=value<%= i %> class="hide"></li>
            <% const selected = Math.ceil(Math.random()*hangeulKeys.length) %>
            <% let fourRandom = [] %>
            <% while(fourRandom.length <4) {%>
              <% const randomVal = Math.ceil(Math.random()*hangeulKeys.length) %>
              <% if(!fourRandom.includes(randomVal) && randomVal !== selected){fourRandom.push(randomVal)}}%>
              <% let fifth = Math.floor(Math.random()*5) %>
              <% fourRandom.splice(fifth, 0, selected) %>
              <span><%= i+1 %>/10</span>
            <li class="col-6 justify-content-between mt-5" value=<%= selected %> id=compare<%= i %>>   
              <span id=search<%= i %>><%= hangeul[0].test[selected][0] %></span>
              <% questions[i] = hangeul[0].test[selected][0] %>
            </li>
              <span>Choose your answer:</span>
              <% for(let j=0; j<fourRandom.length; j++){ %>
                <% let theVal = hangeul[0].test[fourRandom[j]][1]; %>
                <% let splitted = theVal.split(" ") %>
                <% let insertVal = splitted.join("_") %>
                <% if(j === 0){ %>
                  <button id=select<%= i %><%= j %> value=<%= insertVal %>> <%= hangeul[0].test[fourRandom[j]][1] %> </button>
                <% } else { %>
                <button id=select<%= i %><%= j %> value=<%= insertVal %>> <%= hangeul[0].test[fourRandom[j]][1] %> </button>
                <% } %>
              <% } %>
              </div>
        <% } %>
        </div>
        <a onclick="right()" class="right">></a>
        </div>
        </ul>
        <!-- add a quick way to see your answers on the test from 1 to 10 -->
        <ul>
            <% for(let i = 0; i < 10; i++){ %>
            <li>
              <span>Question <%= i+1 %>: <%= questions[i] %></span>
              <span>Answer <%= i+1 %>:</span> <span id=checkerTest<%= i %>></span>
             </li>
            <% } %>
        </ul>
        <button onclick="grab()">Submit answers</button>
  </div>
  <script> 
  //grabbing data from the ejs and using it in js through stringify
  const hangeul = <%- JSON.stringify(hangeul[0].test) %>;
  const test = <%- JSON.stringify(hangeul[0].id) %>;
  const section = <%- JSON.stringify(hangeul[0].section) %>;
  const user = <%- JSON.stringify(user.id) %>;

  //scroller
  let count = 0;
  function right(){
    let prev = count;
    if(count !== 9){
      count++;
      checker(prev);
    }
  }
  function left(){
    let prev = count;
    if(count !== 0){
      count--;
      checker(prev);
    }
  }

  function checker(prev){
    document.getElementById(`questionField${prev}`).classList.toggle("hide")
    document.getElementById(`questionField${count}`).classList.toggle("hide")
    console.log(document.getElementById(`questionField${prev}`).classList)
  }

//loop through and addeventlistener to selection
for(let i = 0; i < 10; i++){
  for(let j= 0; j < 5; j++){
    let buttons = document.getElementById(`select${i}${j}`)
    buttons.addEventListener("click", function changeVal(){
      let value = buttons.innerHTML;
      document.getElementById(`value${i}`).innerHTML = value;
      document.getElementById(`checkerTest${i}`).innerHTML = value;
    });
  }
}

  //function to check if the answer is correct or not
    function grab(){
      //initialize array and number of correct answers to
      const selected = [];
      correct = 0;
      //loop through the answers and check if second value of the array in question is equal ++ else nothing
      for(let i = 0; i < 10; i++){
        const compare = document.getElementById(`compare${i}`).value;
        const optionVal = document.getElementById(`value${i}`).innerHTML.trim();
        const answer = optionVal.split("_").join(" ");
        document.querySelector(`#question${i}`).innerHTML = hangeul[compare][0];
        document.querySelector(`#check${i}`).innerHTML = `Selected: ${answer}`;
        document.querySelector(`#correct${i}`).innerHTML = `correct: ${hangeul[compare][1]}`;
        if(hangeul[compare.toString()][1] === answer){
          selected.push(true);
          correct++;
        } else {
          selected.push(false)
        } 
        console.log(answer)
        console.log(hangeul[compare.toString()][1])
        console.log(correct)
      }
      //input all the values and if pass >= 60% show submit else retake
      const passFail = (correct/selected.length)*100;
      document.querySelector(".container").classList.add("hide");
      document.querySelector(".overlay").style.display = "block";
      document.querySelector("#correct").innerHTML = `Correct: ${passFail}%`
      document.querySelector("#correct").value = "check";
      document.getElementById("test").innerHTML = section;
      document.getElementById("score").innerHTML = passFail;
      document.querySelector(".correct").value = passFail;
      if(passFail >= 60){
        document.querySelector("#pass").classList.remove("hide");
      } else {
        document.querySelector("#fail").classList.remove("hide");
      }
    }
    </script>  
    </main>
<%- include('partials/footer') -%>