<%- include('partials/header') -%>
<main>
<% let current = 1 %>
<% function next(){ return console.log(2)} %>
<div class="container">
    <div class="middle">
      <div class="hangeulRev">
      <h2 class="hangeulh2">Review Hangeul</h2>
      <a class="hangeulTest" href="/hangeul/test/<%= hangeul[0].section %>">Go to test</a>
    </div>
      <div class="hangeulDiv">
        <% let newArr = Object.keys((hangeul[0].test)) %>
        <% for(let i = 1; i <= newArr.length; i++){ %>
          <div class="hangeul">
            <h2><%- hangeul[0].test[i][0] -%></h2>
            <h2><%- hangeul[0].test[i][1] -%></h2>
            <p><%- hangeul[0].test[i][2] -%></p>
          </div>
        <% } %>
      </div>
    </div>
</div>
</main>
<%- include('partials/footer') -%>
